.div1 {
  display: flex;
  background-color: rgb(177, 249, 249);
  flex-direction: column;

}

.divtop {
  display: flex;
  background-color: aquamarine;
  flex-direction: row;
}

.divbottom {
  display: flex;
  background-color: rgb(228, 200, 255);
  flex-direction: column;


}

.playerProfiles {
  font-family: Courier, monospace;
  display: flex;
  background-color: rgb(248, 212, 212);
  flex-direction: column;

}

.gameButton {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.mycard {

  background-color: teal;
  display: flex;
  flex-direction: row;
  align-self: center;


}


.cards {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
}

.Topcardpage {
  font-family: Courier, monospace;
  background-color: rgb(201, 255, 148);
  display: flex;
}

.justDetail {
  font-family: Courier, monospace;
}

body {
  text-align: center;
  /* Center inline elements */
  background-color: rgb(241, 241, 241);
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.label {
  font-size: 3rem;
  padding: 2rem;
  width: auto;
}

.container {
  margin: 0 auto;
  /* Center block-level elements */
  width: 80%;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.start-con {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-items: center;
  background-image: linear-gradient(to bottom, #f2f2f2, #bdbdbd);
}

.info-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Space between children */
  align-items: center;
  /* Center children horizontally */
  text-align: center;
  width: 90%;
  margin: auto;
  /* Center horizontally */
  height: auto;
}

.info-con img {
  width: 30rem;
  margin: 2rem;
}

#init-game {
  width: 5rem auto;
  margin: 1.5rem;
}

.add-player-con,
.init-btn {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: rgb(227, 227, 227);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0.2, 0.2, 0.2, 0.2);
}

.sub-add-player-con,
#add-player,
.init-btn {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4rem;
  width: 26rem;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
}

.sub-add-player-con {
  flex: 75%;
}

.sub-add-player-con:hover,
.sub-add-player-con:focus {
  border-color: gray;
}

#add-player {
  flex: 25%;
}

#add-player:hover {
  background-color: rgb(179, 179, 179);
}

#add-player {
  width: 8rem;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}