.div1 {
  display: flex;
  background-color: rgb(177, 249, 249);
  background: url("scripts/assets/brickBG.jpg");
  background-size: contain;
  background-repeat: repeat;
  flex-direction: column;
  height: 100vh;
}

.divhead {
  display: flex;
  flex-direction: column;
  flex: 15%;
  background: transparent;
}

.notblurDivhead {
  backdrop-filter: blur(7px);
}

.divtop {
  display: flex;
  background-color: aquamarine;
  flex-direction: row;
  background: transparent;
  /* flex: 100%; */
  width: 100%;
  padding: 2rem 12rem 2rem 12rem;
  justify-content: space-between;
}

.divbottom {
  background-size: auto;
  flex: 15%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
  backdrop-filter: blur(7px);
}

.bottomnotblur {
  display: flex;
  /* background-color: rgb(228, 200, 255); */
  flex-direction: column;
  backdrop-filter: blur(7px);
}

.playerProfiles {
  padding-top: 2rem;
  font-family: Courier, monospace;
  display: flex;
  /* background-color: rgb(251, 206, 206); */
  flex-direction: column;
  justify-content: flex-start;
  /* background: url("scripts/assets/brickBG.jpg"); */
  color: #f2f2f2;
  /* backdrop-filter: blur(7px); */
  flex-grow: 4;
  width: 10%;
}

.Topcardpage {
  font-family: Courier, monospace;
  flex-grow: 8;
  /* background-color: rgb(157, 176, 184); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.Topcardpage p {
  font-size: 3rem;
  color: white;
  padding: 2rem;
  font-weight: bold;
}

.gameButton {
  background-color: blue;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.mycard {
  background-color: teal;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-self: center;
  color: #f2f2f2;
}

.cards {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
}

.justDetail {
  font-family: Courier, monospace;
  color: #f2f2f2;
}

body {
  text-align: center;
  /* Center inline elements */
  background-color: rgb(241, 241, 241);
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.label {
  font-size: 3rem;
  padding: 2rem;
  width: auto;
}

.container {
  margin: 0 auto;
  /* Center block-level elements */
  width: 80%;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.start-con {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-items: center;
  background-image: linear-gradient(to bottom, #f2f2f2, #bdbdbd);
  background: url("scripts/assets/brickBG.jpg");
}

.info-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Space between children */
  align-items: center;
  /* Center children horizontally */
  text-align: center;
  width: 50%;
  height: 50%;
  margin: auto;
  /* Center horizontally */
  height: auto;
}

.info-con img {
  width: 100%;
  margin: 2rem;
}

#init-game {
  width: 5rem auto;
  margin: 1.5rem;
}

.add-player-con,
.init-btn {
  font-size: 1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 5rem;
  background-color: rgb(227, 227, 227); */
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0.2, 0.2, 0.2, 0.2);
}

.sub-add-player-con,
#add-player,
.init-btn {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4rem;
  width: 120%;
  /* height: 2rem; */
  border: none;
  font-size: 1.6rem;
}

.sub-add-player-con:hover,
.sub-add-player-con:focus {
  border-color: gray;
}

#add-player:hover {
  background-color: rgb(179, 179, 179);
}

#add-player {
  width: 8rem;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #24ef50, #89ca33);
  border: 1;
  border-radius: 50px;
  border-color: #007a3b;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(223, 250, 71, 0.452),
    0.125rem 0.125rem 1rem rgba(203, 255, 72, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(247, 255, 93, 0.5),
    0.125rem 0.125rem 1rem rgba(206, 255, 46, 0.5);
}

/* CSS */
.button-74 {
  background-color: #acfcfc;
  border: 2px solid #000506;
  border-radius: 30px;
  box-shadow: #2e4044 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #5f8c90;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (max-width: 1024px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }

  /* .add-player-con {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */

  .sub-add-player-con {
    width: 120%;
    height: 2rem; /* Adjust height as needed */
    margin: 0.5rem;
  }

  #add-player {
    width: 50%;
  }

  .divtop {
    padding: 2rem; /* Adjust padding as needed */
  }

  .playerProfiles {
    flex: 25%;
  }

  .Topcardpage {
    flex: 75%;
  }

  .div1 {
    padding: 2rem;
    background-color: #5f8c90;
  }
}

#main-table-head {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #bdbdbd;
  align-items: center;
  color: #2e4044;
  font-weight: bold;
  font-size: larger;
}

#main-table-body {
  background-color: #24ef50;
}

.game-status {
  padding-right: 1rem;
  font-size: larger;
  color: #2e4044;
  font-weight: bold;
}

#game-res {
  font-size: 2rem;
  font: bold;
  text-align: center;
}

.playerProfiles h1 {
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: rgb(112, 116, 116);
  padding: 0.5rem;
  text-align: center;
  width: auto;
}

#player-turn,
#game-direction,
#main-table-head,
.game-status {
  border-radius: 0rem 0rem 1rem 1rem;
  background-color: rgb(176, 182, 182);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.big-text {
  background: url("scripts/assets/brickBG.jpg");
  height: 100vh;
  color: #ffffff;
  font-size: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Corrected */
}
